<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n"/> 
		</layout>
	</appender>
	<logger name="br.eti.kinoshita.testlinkjavaapi">
		<level value="debug" />
		<appender-ref ref="stdout"/>
	</logger>
	<logger name="httpclient.wire">
		<level value="off" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.apache.commons.httpclient">
		<level value="off" />
		<appender-ref ref="stdout" />
	</logger>
	<root>
		<priority value="all"></priority>
		<appender-ref ref="stdout"/>
	</root>
</log4j:configuration>